html {
  width: 1024px;
  margin-right: 1%;
  margin-left: 1%;
  justify-content: center;
  font-family: sans-serif;

  display: grid;
  grid-template-areas:
  'grid-container'
}

#index-container {
  display: grid;
  grid-template-areas:
    'header header'
    'main-index asideBlock'
    'footer footer';
}
#login-container {
  display: grid;
  grid-template-areas:
    'header'
    'main-login'
    'footer';
}

header {
  grid-area: header;
  background-color:orange;
  display: grid;
  grid-template-areas: 'siteName links links links rightnav';
  align-items: center;
  justify-items: left;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
header > h1 {
  grid-area: siteName;
  border-right: 2px solid black;
}
header > nav > ul > li {
  grid-area: links;
  list-style-type: none;
  float: left;
  padding: 12px;
  background-color: rgb(98, 122, 201);
  border-right: 2px solid black;
}
header > a {
  grid-area: rightnav;
  border-right: 2px solid black;
  background-color: lightblue;
}

#main-index {
  display: grid;
  grid-template-areas:
  'mainHeader .'
  'mainSubText .'
  'article1 article2';
  background-color: yellow;
  border: 2px solid black;
}
#main-login {
  display: grid;
  grid-template-areas:
  'mainHeader'
  'loginForm';
  background-color: yellow;
  border: 2px solid black;
}
main > * {
  margin: 20px;
  background-color: lightgrey;
  border: 2px solid black;
  padding: 5px;
}
.mainHeader {
  grid-area: mainHeader;
  text-align: center;
}
.mainSubText {
  grid-area: mainSubText;
  text-align: justify;
}
.article1 {
  grid-area: article1;
  text-align: justify;
}
.article2 {
  grid-area: article2;
  text-align: justify;
}
article > h3 {
  text-align: center;
}
article > img {
  margin: auto;
  display: block;
}
#main-login > h2 {
  text-transform: uppercase;
}
.loginForm {
  grid-area: loginForm;
  text-align: left;
  border-radius: 10px;
}
#resetButton {
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}
#submitButton {
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.asideBlock {
  grid-area: asideBlock;
  background-color: burlywood;
  display: grid;
  grid-template-areas: 'aside';
  grid-template-rows: auto minmax(0, 1fr);
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.aside {
  grid-area: aside;
  background-color: lightgrey;
  border: 2px solid black;
  text-align: left;
  padding: 5px;
  margin: 20px;
}

footer {
  grid-area: footer;
  background-color: purple;
  text-align: center;
  border: 2px solid black;
}

a:link {
  color: black;
  text-decoration: none;
  font-size: 32px;
}
